
{% extends "base.html" %}
{% block content %}
    <!-- Topbar Start -->
    {% include "components/topbar.html" %}
    <!-- Topbar End -->


    <!-- Navbar Start -->
    {% include "components/navbar.html" %}
    <!-- Navbar End -->


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <span class="breadcrumb-item active">Contact</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="container-fluid">
	    <h1> Thankyou! </h1>
	    <p> {{ message }}</p>
    </div>



    <!-- Footer Start -->
    {% include "components/footer.html" %}
    <!-- Footer End -->

{% endblock %}
